body {
  padding-top: 3.5rem;
}

nav .svg-inline--fa {
    margin-right: .4rem;
}

.navbar .navbar-brand img {
    max-width: 24px;
    display: inline;
}

.row {
  padding-top: 2em;
  padding-bottom: 2em;
}

#jumbo {
    background: #bbdefb url("/modules-catalogue/img/background.jpg") no-repeat center center;
    background-size: cover;
    color: #fff;
}

#search .input-group-text,
#search input#acmodule_search {
  border: none;
  border-radius: 0;
  padding: 0.8em;
  color: #444;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input#acmodule_search {
    background: #f9f9f9;
    font-weight: 400;
    -webkit-appearance: none; /* iOS */
}

input#acmodule_search:focus {
    outline: none;
}

#showcase li.media {
    padding: .8em;
    border-bottom: #efefef 1px solid;
}
#showcase li:first-child {
  border-top: #efefef 1px solid;
}

li.media .tags span {
    margin-right: .3rem;
}

.inline-logo {
    max-height: 1em;
    vertical-align: baseline;
}

.logo-small {
  height: 80px;
}

.go-back {
    color: #aaa !important;
    cursor: pointer;
}

#about .btn {
    margin-bottom: 30px;
}

.btn-social {
  color: #fff;
  background-color: #AC0101;
  background-color: #CA0000;
  border-radius: 2em;
  padding: 4px;
}
.btn-social:hover,
.btn-social:active,
.btn-social:focus {
  color: #fff !important;
}
.btn-container-lg .btn-social {
  width: 30px;
  height: 30px;
}
.btn-container-md .btn-social {
  width: 36px;
  height: 36px;
  margin-right: 1px;
  margin-left: 1px;
  padding: 7px;
}
.btn-social .svg-inline--fa {
  margin: 0;
  vertical-align: 0;
}

.footer {
  padding-top: 18px;
  padding-bottom: 18px;

  background-color: #170104;
  color: #fff;
  text-align: center;
  font-size: 0.9em;
}

.footer a {
  color: #d90000;
}

.text-tiny {
  font-size: .8em;
  margin: 0;
}